<div class="card">
     Ramadan
     <form action="/" method="post">
             <label for="name" class="form-label">Input Name</label>
             <input type="text" name="name" class="form-control" id="name">
         <input type="submit" class="btn" value="Send" />
     </form>
</div>