<div class="container">
            <center>
                <a href="/" class="btn">Rewrite the name</a>
                <img src="exported/ramadan.png" class="img" alt="Ramazon Muborak">

                <a href="/exported/ramadan.png" class="btn" download>Download</a>
            </center>
</div>